nav.note {

    flex-grow: 1.5;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    
    background: rgba(255, 255, 255, 0.2);

    box-sizing : border-box;

    .buttons {
        
        display: flex;
        margin-top: 2.5%;
        width: 95%;
        margin-left: 2.5%;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.5);
        
        button {

        flex-grow: 1;
        
        justify-content: space-around;
        
        
        font-size: 1em;
        border: 0;
        outline: none;
        cursor: pointer;
            &:hover {
                background: #eeeeee;
            }
        }
    }

    input.noteSearch {
        margin-top: 2.5%;
        width: 91.5%;
        margin-left: 2.5%;
        padding: 5px;
        border: 0;

        background: rgba(255, 255, 255, 0.7);
        
    }

    
    
}